data/*
**/.git
**/.gitignore
**/.gitkeep
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
README.md
READNE.ru.md
docker-compose.yml
**/.DS_Store
**/venv
**/.venv
**/env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt 
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
