**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
*.db
Dockerfile
README.md
docker-compose.yml
**/.DS_Store
**/venv
**/env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis